nav{
    margin:0!important;
}
.section-title {
    text-align:center;
    margin-top: 1em;
    background-color: rgb(202, 200, 200);
    padding : .5em 0;
    border-radius: .3em;
}
.service {
    margin: 30px 0 30px 0 ;
    border-radius: .3em;
    background-color: rgb(202, 200, 200);
    text-align: center;
    padding:3em 2em 1em 2em;
}
#section {
    height:510px;
    background-image: url(images/money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.col-md-3 img {
    width:200px;
}
.modal-body{
    background-color: rgb(80, 79, 79);
}